    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-top__left-col">
                    <a href="index.html" class="footer-logo">
                        <img src="assets/img/logo.svg" alt="">
                    </a>
                    <p class="footer-top__company-name">ООО «ОО «МАССИВ»</p>
                    <ul class="company-requisites">
                        <li>ИНН 78137813423573</li>
                        <li>КПП 784201001</li>
                        <li>БИК 044030786</li>
                        <li>Р/С 40702810132180009863</li>
                        <li>Филиал «Санкт-Петербургский»<br/>
                            АО «Альфа⁠-⁠Банк» г. Санкт-Петербург</li>                        
                    </ul>
                </div>

                <nav class="footer-nav">
                    <div class="footer-nav__menu-col">
                        <p class="footer-top__col-title">Меню</p>
                        <ul class="footer-menu">
                            <li><a href="about.html">О компании</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="vacancies.html">Вакансии</a></li>
                            <li><a href="blog.html">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav__menu-col">
                        <p class="footer-top__col-title">Услуги</p>
                        <ul class="footer-menu">
                            <li><a href="#">Сопровождения грузов</a></li>
                            <li><a href="#">Пультовая охрана</a></li>
                            <li><a href="#">Стационарный пост</a></li>
                            <li><a href="#">Личная охрана</a></li>
                            <li><a href="#">Установка систем видеонаблюдения</a></li>
                            <li><a href="#">Мобильный пост</a></li>
                            <li><a href="#">Монтаж СКУД (Турникет, шлагбаум)</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="footer-top__right-col">
                    <p class="footer-top__col-title">Контакты</p>

                    <div class="footer-top__contacts">
                        <a href="tel:+78123832341">+7 812 383-23-41</a>
                        <a href="mailto:info@massiv-ohrana.ru">info@massiv-ohrana.ru</a>
                    </div>

                    <address>Адрес:<br />  г. Санкт-Петербург, Синопская набережная, д. 64 лит. А, помещ. 11-н части 3, 4</address>
                    <p class="footer__work-time">Режим работы:<br/>
                        ПН-ПТ 09:00–18:00</p>
                </div>
            </div>
            <div class="footer-copyright">
                © 2024 Общество с ограниченной ответственностью «ОО «МАССИВ». Все права защищены.
            </div>
        </div>
    </footer>


    <script src="assets/js/fancybox.umd.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>