.vacancies{
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include calculateResponsiveProperty(1024px, 1920px, 32px, 56px, row-gap);
}


.vacancies-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 24px;

    

}

.vacancy{
    padding: 24px;
    background: var(--grey-700);
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (min-width: 768px){
        flex-direction: row;
        align-items: flex-start;
        column-gap: 24px;
    }

    @include calculateResponsiveProperty(1024px, 1920px, 24px, 48px, padding);
}

.vacancy{
    .close-state{
        display: none;
    }
}

.vacancy.active{
    .start-state{
        display: none;
    }
    .close-state{
        display: inline-block;
    }

    .vacancy__description{
        max-height: 3000px;

        -webkit-line-clamp: unset;
    }
}

.vacancy.active.closing{
    .vacancy__description{
        max-height: 56px;
        -webkit-line-clamp: unset;
        transition: linear 300ms;
    }
}

.vacancy__img{
    aspect-ratio: 1 / 1;
    position: relative;

    @media (min-width: 768px){
        width: 240px;
        flex-shrink: 0;
    }


    @include calculateResponsiveProperty(1024px, 1920px, 240px, 360px, width);

    img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.vacancy__text-content{
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (min-width: 1024px){
        min-height: 100%;
        justify-content: space-between;
    }

    @include calculateResponsiveProperty(1024px, 1920px, 24px, 40px, row-gap);
}
.vacancy__description-block{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;

    @media (min-width: 1024px){
        margin-bottom: 0px;
    }
}
.vacancy__description{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;

    //opacity: 0.4;

    color: rgba($color: #a2a2a2, $alpha: .4);

    max-height: 56px;
    transition: linear 500ms;

    @media (min-width: 1024px){
        color: rgba($color: #a2a2a2, $alpha: 1);
    }
}



.vacancy__details-list{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: var(--white);
    li{
        display: flex;
        column-gap: 8px;
        align-items: flex-start;
        justify-content: flex-start;

        .icon{
            flex-shrink: 0;
        }
    }
}
.vacancy__bottom-block{
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media ( min-width: 1024px ){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.vacancy__buttons{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    
    .btn-white{
        width: 100%;
    }

    @media (min-width: 430px){
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        column-gap: 12px;

        .btn-white{
            width: auto;
        }
    }
    @media ( min-width: 1024px ){
        column-gap: 24px;
    }

}



.vacancy-block{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: flex-start;


    @media (min-width: 1024px){
        display: grid;
        grid-template-columns: 57.394366197% 33.802816901%;
        grid-column-gap: 8.802816901%;

        grid-template-rows: auto 1fr 60px;
    }
}

.vacancy-block__photo{
    position: relative;
    aspect-ratio: 100/ 119.166666667;
    background-color: var(--grey-800);
    width: 100%;

    max-width: 480px;
    margin: 0 auto;

    @media (min-width: 1024px){
        grid-column: 2 / 3;
        grid-row: 1 / -1;
    }


    img{
        position: absolute;

        bottom: 0;
        left: 50%;

        transform: translate(-50%, 0);

        max-width: 100%;
        max-height: 100%;
    }
}

.vacancies-slider__salary{
    opacity: 0.4;
}
.swiper.vacancies-slider{
    width: 100%;

    .swiper-slide{
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        justify-content: center;
        padding: 24px;
        background: var(--grey-700);
        height: auto;
        transition: 300ms ease;
        @include calculateResponsiveProperty(1024px, 1920px, 24px, 32px, padding);

        &:hover{
            background: var(--grey-600);
        }
        &:active{
            background: var(--grey-500);
        }
    }

    

    @media (max-width: 480px){
        --wvs: 16px;
    }

    @media (min-width: 480px){
        --wvs: calc(16px + (1vw - 4.8px) * 5.5555555556);
    }
    @media (min-width: 769px){
        --w: calc(32px + (1vw - 7.69px) * 6.2745098039);
    }

    @media (min-width: 1024px){
        --wvs: 0px !important;

        .swiper-wrapper{
            transform: translate(0, 0) !important;
            display: grid !important;
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }

        .swiper-slide{
            margin-right: 0 !important;
            width: auto !important;
        }
    }

    @media (min-width: 1280px){
        .swiper-wrapper{
            
            grid-template-columns: 1fr 1fr;
            
        }
    }
    padding-right: var(--wvs);
    width: calc(100% + var(--wvs));


    @media (min-width: 1024px){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

.vacancy-block__btn-container{
    @media (min-width: 1024px){
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }   
}

.vac-hidden-content {
}
.vac-hidden-content__inner {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    
}
.vac-description-block{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-top: 16px;

    ul{
        list-style: disc;
        padding-left: 1.5em;
        list-style-position: outside;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        color: #a2a2a2;
        li{

        }
    }
}
.vac-description-block__title{
    color: #fff;
    margin-bottom: 8px;
}